{
	"presets": [
		[
			"@babel/preset-env",
			{
				"targets": {
					"electron": "4.0.1"
				}
			}
		],
		"@babel/preset-react"
	],
	"plugins": [
		"@babel/plugin-proposal-object-rest-spread",
		"@babel/plugin-transform-runtime"
	]
}
